body {
    background-image: url(../img/light_toast.png);
}

#zcontent{
    background-color: #ffffff;
    opacity: 0.6;
}

#blurb{
    color:white;
    text-align: right;
    position: absolute;
    right: 20%;
    bottom: 0;
    font-size: 1.5em;
}

#sec0{
    color:black;
    font-size: 1.5em;
}

.textcontainer {
   height: 20em;
   position: relative
}

.vcenter {
    margin: 0;
   position: absolute;               /* 2 */
   top: 50%;                         /* 3 */
   transform: translate(0, -50%)
}

.sydebar {
    margin-top: 100px;
    font-size: 1.5em;
}

.bennercontainer {
	background-color: blue;
	height: 300px;
	width: 100%;
    margin-top:60px;
    margin-bottom: 60px;
}

.navbar {
	margin-bottom: 0px;
}

.navbar-brand {
	font-size: 35px;
	color: white !important;
}



body div#banner {
    background: url(../img/00.jpg) no-repeat center;
 /*   -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    height: 300px;
}